/* Basic Button Styles */

.button {
    cursor: pointer;
    background-color: var(--white-norm-alpha);
}

.main-section .button:not(.can-afford):hover,
.main-section .button:not(.can-afford):hover:active {
    cursor: default;
    background-color: var(--white-dark);
    border-color: var(--white-light-alpha) var(--white-dark-alpha) var(--white-dark-alpha) var(--white-light-alpha);
}

.button.disabled {
    background-color: var(--black-dark-alpha);
}

.button:not(.button-black) * {
    color: black;
    text-shadow: var(--textshadow-white);
}

.button-black .button-text {
    color: white;
    text-shadow: var(--textshadow-black);
}

.button-red .button-text {
    color: white;
    text-shadow: var(--textshadow-black);
}

.button.active {
    z-index: 1;
}

.button.active .button-text {
    filter: var(--dropshadow-white);
}

/* White Button Styles */

.button-white {
    background-color: var(--white-dark);
    border: 2px solid transparent;
    border-color: var(--white-light-alpha) var(--white-dark-alpha) var(--white-dark-alpha) var(--white-light-alpha);
}

.button-white:hover {
    background-color: var(--white-norm);
    border-color: var(--white-light) var(--white-dark) var(--white-dark) var(--white-light);
}

.button-white:hover:active {
    background-color: var(--white-light);
    border-color: white;
}

/* Black Button Styles */

.button-black {
    background-color: var(--black-dark);
    border: 2px solid transparent;
    border-color: var(--black-light-alpha) var(--black-dark-alpha) var(--black-dark-alpha) var(--black-light-alpha);
}

.button-black:hover {
    background-color: var(--black-norm);
    border-color: var(--black-light) var(--black-dark) var(--black-dark) var(--black-light);
}

.button-black:hover:active {
    background-color: var(--black-light);
    border-color: white;
}

/* Blue Button Styles */

.button-blue {
    background-color: var(--blue-norm);
    border: 2px solid transparent;
    border-color: var(--blue-light-alpha) var(--blue-dark-alpha) var(--blue-dark-alpha) var(--blue-light-alpha);
}

.button-blue:hover {
    background-color: var(--blue-hover);
    border-color: var(--blue-light) var(--blue-dark) var(--blue-dark) var(--blue-light);
}

.button-blue:hover:active {
    background-color: var(--blue-light);
    border-color: white;
}

/* Red Button Styles */

.button-red {
    background-color: var(--red-norm);
    border: 2px solid transparent;
    border-color: var(--red-light-alpha) var(--red-dark-alpha) var(--red-dark-alpha) var(--red-light-alpha);
}

.button-red:hover {
    background-color: var(--red-hover);
    border-color: var(--red-light) var(--red-dark) var(--red-dark) var(--red-light);
}

.button-red:hover:active {
    background-color: var(--red-light);
    border-color: white;
}

/* Yellow Button Styles */

.button-yellow {
    background-color: var(--yellow-norm);
    border: 2px solid transparent;
    border-color: var(--yellow-light-alpha) var(--yellow-dark-alpha) var(--yellow-dark-alpha) var(--yellow-light-alpha);
}

.button-yellow:hover {
    background-color: var(--yellow-hover);
    border-color: var(--yellow-light) var(--yellow-dark) var(--yellow-dark) var(--yellow-light);
}

.button-yellow:hover:active {
    background-color: var(--yellow-light);
    border-color: white;
}

/* Gather Button Styles */

.button-gather {
    background-color: var(--gather-norm);
    border: 2px solid transparent;
    border-color: var(--gather-light-alpha) var(--gather-dark-alpha) var(--gather-dark-alpha) var(--gather-light-alpha);
}

.button-gather:hover {
    background-color: var(--gather-hover);
    border-color: var(--gather-light) var(--gather-dark) var(--gather-dark) var(--gather-light);
}

.button-gather:hover:active {
    background-color: var(--gather-light);
    border-color: white;
}

/* Action Button Styles */

.button-action {
    background-color: var(--action-norm);
    border: 2px solid transparent;
    border-color: var(--action-light-alpha) var(--action-dark-alpha) var(--action-dark-alpha) var(--action-light-alpha);
}

.button-action:hover {
    background-color: var(--action-hover);
    border-color: var(--action-light) var(--action-dark) var(--action-dark) var(--action-light);
}

.button-action:hover:active {
    background-color: var(--action-light);
    border-color: white;
}

/* Basic Grid Styles */

.grid-element {
    background-color: transparent;
    border: 3px outset transparent;
    border-color: var(--black-light);
}

/* White Grid Element Styles */

.grid-element.grid-white {
    background-color: var(--white-norm-alpha);
    border: 3px outset transparent;
    border-color: var(--white-norm);
}

/* Black Grid Element Styles */

.grid-element.grid-black {
    background-color: var(--black-norm-alpha);
    border: 3px outset transparent;
    border-color: var(--black-dark);
}

/* Blue Grid Element Styles */

.grid-element.grid-blue {
    background-color: var(--blue-norm-alpha);
    border: 3px outset transparent;
    border-color: var(--blue-light);
}

/* Red Grid Element Styles */

.grid-element.grid-red {
    background-color: var(--red-norm-alpha);
    border: 3px outset transparent;
    border-color: var(--red-light);
}

/* Yellow Grid Element Styles */

.grid-element.grid-yellow {
    background-color: var(--yellow-norm-alpha);
    border: 3px outset transparent;
    border-color: var(--yellow-light);
}

/* White Progressbar Element Styles */

.progress.progress-white .progress-bar {
    background: var(--white-hover);
    border-color: var(--white-norm);
}

.progress.progress-white:hover .progress-bar {
    background: var(--white-light);
    border-color: var(--white-hover);
}

/* Black Progressbar Element Styles */

.progress.progress-black .progress-bar {
    background: var(--black-hover);
    border-color: var(--black-norm);
}

.progress.progress-black:hover .progress-bar {
    background: var(--black-light);
    border-color: var(--black-norm);
}

/* Blue Progressbar Element Styles */

.progress.progress-blue .progress-bar {
    background: var(--blue-hover);
    border-color: var(--blue-norm);
}

.progress.progress-blue:hover .progress-bar {
    background: var(--blue-light);
    border-color: var(--blue-hover);
}

/* Red Progressbar Element Styles */

.progress.progress-red .progress-bar {
    background: var(--red-hover);
    border-color: var(--red-norm);
}

.progress.progress-red:hover .progress-bar {
    background: var(--red-light);
    border-color: var(--red-hover);
}

/* Yellow Progressbar Element Styles */

.progress.progress-yellow .progress-bar {
    background: var(--yellow-hover);
    border-color: var(--yellow-norm);
}

.progress.progress-yellow:hover .progress-bar {
    background: var(--yellow-light);
    border-color: var(--yellow-hover);
}


/* Opaque overwrite */

.grid-element.grid-white.opaque {
    background-color: var(--white-norm);
}

.grid-element.grid-black.opaque {
    background-color: var(--black-norm);
}



.content-stage-info>.grid-element:hover {
    background-color: var(--white-dark);
}



/* Transitions Testing */

.button {
    transition: background 0.2s ease, border-color 0.1s ease, color 0.2s ease, filter 0.2s ease;
}

.button * {
    transition: background 0.2s ease, border-color 0.2s ease, color 0.2s ease, filter 0.2s ease;
}



#main-center-navigation .button-white.active {
    background: var(--white-dark) linear-gradient(170deg,
            /* Base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.125), rgba(0, 0, 0, 0),
            /* Repeat your base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.125), rgba(0, 0, 0, 0),
            /* Repeat your first gradient stop */
            rgba(0, 0, 0, 0));

    background-size: 200% 200%;
    animation: scrollBackground 5s linear infinite;
}


#main-center-navigation .button-black.active {
    background: var(--black-dark) linear-gradient(170deg,
            /* Base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.125), rgba(0, 0, 0, 0),
            /* Repeat your base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.125), rgba(0, 0, 0, 0),
            /* Repeat your first gradient stop */
            rgba(0, 0, 0, 0));

    background-size: 200% 200%;
    animation: scrollBackground 5s linear infinite;
}



#main-center-navigation .button-red.active {
    background: var(--red-norm) linear-gradient(170deg,
            /* Base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0),
            /* Repeat your base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0),
            /* Repeat your first gradient stop */
            rgba(0, 0, 0, 0));

    background-size: 200% 200%;
    animation: scrollBackground 5s linear infinite;
}



#main-center-navigation .button-blue.active {
    background: var(--blue-norm) linear-gradient(170deg,
            /* Base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0),
            /* Repeat your base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0),
            /* Repeat your first gradient stop */
            rgba(0, 0, 0, 0));

    background-size: 200% 200%;
    animation: scrollBackground 5s linear infinite;
}



#main-center-navigation .button-yellow.active {
    background: var(--yellow-norm) linear-gradient(170deg,
            /* Base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0),
            /* Repeat your base gradient stops */
            rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.33), rgba(0, 0, 0, 0),
            /* Repeat your first gradient stop */
            rgba(0, 0, 0, 0));

    background-size: 200% 200%;
    animation: scrollBackground 5s linear infinite;
}

#main-center-navigation .button.active:hover {
    filter: brightness(110%) contrast(110%);
}

#main-center-navigation .button.active:hover:active {
    filter: brightness(110%) contrast(120%);
}

@keyframes scrollBackground {
    0% {
        background-position: 100% 100%
    }

    100% {
        background-position: 0% 0%
    }
}