.geo-font,
#tooltip-header,
#tooltip-bottom,
.header,
.job-name,
.job-amount,
.resource-name,
.resource-amount,
.special-name,
.special-value,
.button,
.button * {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.geo-font-italic,
.text {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.roboto-font,
div,
p,
.button-top-left-indicator,
.button-top-right-indicator,
.button-bottom-left-indicator,
.button-bottom-right-indicator {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}