#main-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--left-sidebar-width) 1fr var(--right-sidebar-width);
    grid-template-rows: 32px 1fr 32px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#main-top {
    grid-area: 1 / 1 / 2 / 4;
}

#main-top>div:first-child {
    height: 32px;
    margin: 0;
    padding: 0;
}

#main-left {
    grid-area: 2 / 1 / 3 / 2;
}

#main-center {
    min-width: 512px;
    grid-area: 2 / 2 / 3 / 3;
}

#main-right {
    grid-area: 2 / 3 / 3 / 4;
}

#main-bottom {
    grid-area: 3 / 1 / 4 / 4;
}

#canvas-container {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
}

canvas {
    height: 700px;
}