html {
    overflow: hidden;
}

body {
    background: var(--background-color);
    width: 100vw;
    margin-inline: auto;
    height: 100vh;
}

hr {
    border-color: rgba(255, 255, 255, 0.33);
    width: 100%;
}

.button img {
    aspect-ratio: 1/1 !important;
}

.margin-auto {
    margin-inline: auto;
}

.w-25 {
    width: 25% !important;
}

.w-33 {
    width: 33.33333% !important;
}

.w-50 {
    width: 50% !important;
}

.w-66 {
    width: 66.66666% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.hidden {
    display: none !important;
}

.align-center {
    text-align: center;
    align-items: center;
}

.align-start {
    text-align: start;
    align-items: start;
}

.align-end {
    text-align: end;
    align-items: end;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.no-gaps {
    gap: 0;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.content-grid-element .flex-row.justify-between {
    padding-inline: 4px;
}

.justify-start {
    justify-items: flex-start;
    justify-content: flex-start;
}

.justify-center {
    justify-items: center;
    justify-content: center;
}

.justify-end {
    justify-items: flex-end;
    justify-content: flex-end;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}



#main-top {}

#main-top .header {
    margin-top: 2px;
}

#main-top .button-content {
    padding: 0;
}

#top-menu-left-button .button-content img,
#top-menu-right-button .button-content img {
    width: 24px;
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

#top-menu-left-button .close-button,
#top-menu-right-button .close-button {
    display: none;
}

#top-menu-left-button .open-button,
#top-menu-right-button .open-button {
    display: block;
}

#top-menu-left-button.open .open-button,
#top-menu-right-button.open .open-button {
    display: none;
}

#top-menu-left-button.open .close-button,
#top-menu-right-button.open .close-button {
    display: block;
}

#main-section-recovery {
    display: flex;
}

#main-section-jobs,
#main-section-mech-workshop,
#main-section-parts-factory {
    display: none;
}

#main-section-recovery .button:not(.can-afford),
#main-section-mech-workshop .button:not(.can-afford),
#main-section-parts-factory .button:not(.can-afford),
#main-section-jobs .button:not(.can-afford) {
    /* needs actual styling, will do */
    background-color: #808080;
    border-color: #606060;
}

#main-left {}

#main-center {}

#main-center>div>.main-section {
    display: none;
}

#main-right {}

#main-bottom {}




.header-row {
    background-color: var(--black-norm-alpha);
}

.header {
    font-size: 36px;
    line-height: 1;
    text-align: center;
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
}

.content-grid-element .header {
    text-align: center;
    flex-grow: 1;
}



.progress {
    width: 100%;
    height: 32px;
}

.progress .progress-bar {
    height: 100%;
    background: white;
    border: 8px outset rgb(240, 240, 240);
    border-left: none;
    border-right: none;
}

.progress-header {
    width: 50%;
    margin-inline: auto;
    text-align: center;
    border-bottom: none !important;
}



#pilot-mech-button {
    display: none;
}


.resource {
    display: none;

    background: linear-gradient(90deg,
            var(--black-norm) var(--resourceFill),
            transparent 0%);

    transition: --resourceFill 0.2s linear;
}

.resource * {}

.resource .resource-name {
    text-align: start;
    flex-grow: 1;
    text-shadow: var(--textshadow-black);
}

.resource .resource-amount {
    display: flex;
    justify-content: end;
}

.number-value {}

.number-suffix {
    font-size: 14px;
    margin-left: 2px;
    align-self: end;
}

.number-slash {
    font-size: 12px;
    margin-inline: 4px;
    align-self: center;
}

.resource .resource-amount {
    text-align: end;
    padding-right: 8px;
    flex-basis: 128px;
    flex-grow: 1;
    text-shadow: var(--textshadow-black);
}



.main-button-section .button {
    display: none;
}

#main-center-navigation .button {
    flex-grow: 1;
    display: flex;
}

#main-center-navigation .button:not(#center-recovery-button) {
    display: none;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-content {
    order: 1 !important;
    width: 100%;
    padding: 2px 8px;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.button-content>* {
    display: grid;
    place-items: center;
    font-size: 24px;
    z-index: 1;
}

.button-text {
    white-space: nowrap;
    text-shadow: var(--textshadow-white);
}

.button-gather img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-action img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-building img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-mech img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-part img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.resource img {
    width: 32px;
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.research img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

#main-center-navigation img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

#main-center-navigation .active img {
    filter: brightness(0) invert(1) var(--dropshadow-white);
}

.job-assignment .button-minus img,
.job-assignment .button-plus img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-content img {
    width: 32px;
}

.button-top-indicators,
.button-bottom-indicators {
    height: 0;
    position: relative;
}

.button-top-indicators>*,
.button-bottom-indicators>* {
    opacity: 0;
}

.button-top-indicators {
    order: 0 !important;
    top: -9px;
}

.button-bottom-indicators {
    order: 2 !important;
    top: -20px;
}

.button-top-progress-indicator,
.button-bottom-progress-indicator {
    height: 7px;
    transform: translateY(10px);
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.button-bottom-progress-indicator {
    transform: translateY(13px);
}

.button-top-left-indicator,
.button-top-right-indicator,
.button-bottom-left-indicator,
.button-bottom-right-indicator {
    height: max-content;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.75);
    line-height: 2px;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 5px;
    color: white;
    text-shadow: var(--textshadow-black) !important;
    z-index: 10;
}

.button-top-left-indicator:hover,
.button-top-right-indicator:hover,
.button-bottom-left-indicator:hover,
.button-bottom-right-indicator:hover {
    border-color: white;
    background: black;
}

.button-top-left-indicator {
    transform: translate(-1px, 8px);
    border-bottom-right-radius: 8px;
    margin-right: auto;
}

.button-top-right-indicator {
    transform: translate(1px, 8px);
    border-bottom-left-radius: 8px;
    margin-left: auto;
}

.button-bottom-left-indicator {
    transform: translate(-1px, 1px);
    border-top-right-radius: 8px;
    margin-right: auto;
}

.button-bottom-right-indicator {
    transform: translate(1px, 1px);
    border-top-left-radius: 8px;
    margin-left: auto;
}

.button-top-left-indicator:has(img),
.button-top-right-indicator:has(img),
.button-bottom-left-indicator:has(img),
.button-bottom-right-indicator:has(img) {
    padding: 1px 2px;
    margin: 0;
}

.button-top-left-indicator img,
.button-top-right-indicator img,
.button-bottom-left-indicator img,
.button-bottom-right-indicator img {
    filter: brightness(0) invert(1);
    width: 16px;
}



.progress-bar {
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-button-section>.button {
    flex-basis: calc(calc(100% / 2) - 2px);
}



.job-assignment .button-content {
    padding: 0 !important;
    aspect-ratio: 1;
}

.job-assignment .button,
.job-spacer {
    min-width: 36px;
}

.job-amount {
    min-width: 72px;
}

.job-name,
.job-amount {
    font-size: 24px;
    text-shadow: var(--textshadow-black);
}



@media screen and (height >=768px) {
    #main-center .button-content {
        padding: 4px 8px;
    }

    #main-center .button-content * {
        font-size: 26px;
    }

    .resource .resource-icon img {
        width: 36px;
    }

    .resource .resource-name,
    .resource .resource-amount {
        font-size: 18px;
    }
}



@media screen and (width >=1536px) {
    :root {
        --left-sidebar-width: 320px;
        --right-sidebar-width: 320px;
    }

    .main-button-section>.button {
        flex-basis: calc(calc(100% / 3) - 3px);
    }

    .main-jobs-section {
        width: 66.5% !important;
    }
}



@media screen and (width >=1024px) and (width < 1536px) {

    .main-button-section>.button {
        flex-basis: calc(calc(100% / 2) - 2px);
    }
}



@media screen and (width >=1024px) {

    /* Default Behavior for Sidebars */
    #main-left,
    #main-right {
        display: flex;
        transition: left 0.2s ease-in;
        transition: right 0.2s ease-in;
    }

    #top-menu-left-button,
    #top-menu-right-button {
        display: none;
    }
}



@media screen and (width < 1024px) {
    /* Change Right Tab and make it a sidebar instead */

    #main-right {
        z-index: 200;
        background-color: rgba(15, 20, 35, 1);
        border: 3px outset var(--black-light);
        transition: right 0.2s ease-in;

        position: absolute;
        width: var(--right-sidebar-width);
        top: 32px;
        bottom: 32px;
        right: calc(var(--right-sidebar-width) * -1);
    }

    #main-right.visible {
        background-color: rgba(15, 20, 35, 1);

        position: absolute;
        width: var(--right-sidebar-width);
        top: 32px;
        bottom: 32px;
        right: 0;
    }

    #main-center {
        grid-area: 2 / 2 / 3 / 4 !important;
    }

    #top-menu-left-button {
        display: none;
    }

    #top-menu-right-button {
        display: flex;
    }
}



@media screen and (width < 768px) {
    /* Change Left Tab and make it a sidebar instead */

    #main-left {
        z-index: 200;
        background-color: rgba(15, 20, 35, 1);
        border: 3px outset var(--black-light);
        transition: left 0.2s ease-in;

        position: absolute;
        width: var(--left-sidebar-width);
        top: 32px;
        bottom: 32px;
        left: calc(var(--left-sidebar-width) * -1);
    }

    #main-left.visible {
        background-color: rgba(15, 20, 35, 1);

        position: absolute;
        width: var(--left-sidebar-width);
        top: 32px;
        bottom: 32px;
        left: 0;
    }

    #main-center {
        grid-area: 2 / 1 / 3 / 4 !important;
    }

    #top-menu-left-button {
        display: flex;
    }
}