html {
    overflow: hidden;
}

body {
    background: var(--background-color);
    width: 100vw;
    margin-inline: auto;
    height: 100vh;
}

hr {
    border-color: rgba(255, 255, 255, 0.33);
    width: 100%;
}

.button img {
    aspect-ratio: 1/1 !important;
}

.margin-auto {
    margin-inline: auto;
}

.w-25 {
    width: 25% !important;
}

.w-33 {
    width: 33.33333% !important;
}

.w-50 {
    width: 50% !important;
}

.w-66 {
    width: 66.66666% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.hidden {
    display: none !important;
}

.place-right {
    margin-left: auto;
}

.place-left {
    margin-right: auto;
}

.place-bottom {
    margin-top: auto;
}

.place-top {
    margin-bottom: auto;
}

.place-center-horizontal {
    margin-inline: auto;
}

.place-center-vertical {
    margin-block: auto;
}

.place-center {
    margin: auto;
}

.align-center {
    text-align: center;
    align-items: center;
}

.align-start {
    text-align: start;
    align-items: start;
}

.align-end {
    text-align: end;
    align-items: end;
}

.flex-row {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.no-gaps {
    gap: 0;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.content-grid-element .flex-row.justify-between {
    padding-inline: 4px;
}

.justify-start {
    justify-items: flex-start;
    justify-content: flex-start;
}

.justify-center {
    justify-items: center;
    justify-content: center;
}

.justify-end {
    justify-items: flex-end;
    justify-content: flex-end;
}

.flex-grow {
    flex-grow: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}



.main-top {}

.main-top .header {
    margin-top: 2px;
}

.main-top .button-content {
    padding: 0;
}

.top-menu-left-button .button-content img,
.top-menu-right-button .button-content img {
    width: 24px;
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.top-menu-left-button .close-button,
.top-menu-right-button .close-button {
    display: none;
}

.top-menu-left-button .open-button,
.top-menu-right-button .open-button {
    display: block;
}

.top-menu-left-button.open .open-button,
.top-menu-right-button.open .open-button {
    display: none;
}

.top-menu-left-button.open .close-button,
.top-menu-right-button.open .close-button {
    display: block;
}

#main-section-recovery {
    display: flex;
}

#main-section-jobs,
#main-section-mech-workshop,
#main-section-parts-factory {
    display: none;
}

#main-section-recovery .button:not(.can-afford),
#main-section-mech-workshop .button:not(.can-afford),
#main-section-parts-factory .button:not(.can-afford),
#main-section-jobs .button:not(.can-afford) {
    /* needs actual styling, will do */
    background-color: #808080;
    border-color: #606060;
}

.main-left {}

.main-center {}

.main-center>div>.main-section {
    display: none;
}

.main-right {}

.main-left,
.main-right {
    background-color: rgba(15, 20, 35, 1);
    border: 3px outset var(--black-light);
}

.main-bottom {}





.header-row {
    background-color: var(--black-norm-alpha);
}

.header {
    color: white;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    align-self: center;
    overflow: hidden;
    white-space: nowrap;
}

.content-grid-element .header {
    text-align: center;
    flex-grow: 1;
}



.progress {
    width: 100%;
    height: 32px;
}

.progress .progress-bar {
    height: 100%;
    background: white;
    border: 8px outset rgb(240, 240, 240);
    border-left: none;
    border-right: none;
}

.progress-header {
    width: 50%;
    margin-inline: auto;
    text-align: center;
    border-bottom: none !important;
}



#pilot-mech-button {
    display: none;
}


.resource {
    display: none;

    background: linear-gradient(90deg,
            var(--black-norm) var(--resourceFill),
            transparent 0%);

    transition: --resourceFill 0.2s linear;
}

.resource * {
    color: white;
}

.resource .resource-name {
    text-align: start;
    flex-grow: 1;
    text-shadow: var(--textshadow-black);
}

.resource .resource-amount {
    display: flex;
    justify-content: end;
    text-align: end;
    flex-basis: 128px;
    text-shadow: var(--textshadow-black);
}

.resource .resource-persec {
    white-space: nowrap;
    font-size: 12px;
    display: none;
    justify-content: end;
}



.special * {
    color: inherit;
}

.special .special-name {
    text-align: start;
    flex-grow: 1;
    text-shadow: var(--textshadow-black);
    color: inherit;
}

.special .special-amount {
    display: flex;
    justify-content: end;
    text-align: end;
    flex-basis: 128px;
    text-shadow: var(--textshadow-black);
    color: inherit;
}



.number-value {
    color: inherit;
    text-shadow: var(--textshadow-black);
}

.number-suffix {
    font-size: 14px;
    margin-left: 2px;
    align-self: end;
    text-shadow: var(--textshadow-black);
}

.number-slash {
    font-size: 12px;
    margin-inline: 2px;
    align-self: center;
    text-shadow: var(--textshadow-black);
}


.main-button-section .button {
    display: none;
}

.main-center-navigation .button {
    flex-grow: 1;
    display: flex;
}

.main-center-navigation .button:not(#center-recovery-button) {
    display: none;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-content {
    order: 1 !important;
    width: 100%;
    padding: 2px 8px;
    gap: 8px;
    display: flex;
    flex-direction: row;
}

.button-content>* {
    display: grid;
    place-items: center;
    font-size: 24px;
    z-index: 1;
}

.button-text {
    white-space: nowrap;
    text-shadow: var(--textshadow-white);
}

.button-gather img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-action img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-building img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-mech img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-part img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.resource img {
    width: 32px;
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.research img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.main-center-navigation img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.main-center-navigation .active img {
    filter: brightness(0) invert(1) var(--dropshadow-white);
}

.job-assignment .button-minus img,
.job-assignment .button-plus img {
    filter: brightness(0) invert(1) var(--dropshadow-black);
}

.button-content img {
    width: 32px;
}

.button-top-indicators,
.button-bottom-indicators {
    height: 0;
    position: relative;
}

.button-top-indicators>*,
.button-bottom-indicators>* {
    opacity: 0;
}

.button-top-indicators {
    order: 0 !important;
    top: -9px;
}

.button-bottom-indicators {
    order: 2 !important;
    top: -20px;
}

.button-top-progress-indicator,
.button-bottom-progress-indicator {
    height: 7px;
    transform: translateY(10px);
    flex-grow: 1;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.button-bottom-progress-indicator {
    transform: translateY(13px);
}

.button-top-left-indicator,
.button-top-right-indicator,
.button-bottom-left-indicator,
.button-bottom-right-indicator {
    height: max-content;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0.75);
    line-height: 2px;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 5px;
    color: white;
    text-shadow: var(--textshadow-black) !important;
    z-index: 10;
}

.button-top-left-indicator:hover,
.button-top-right-indicator:hover,
.button-bottom-left-indicator:hover,
.button-bottom-right-indicator:hover {
    border-color: white;
    background: black;
}

.button-top-left-indicator {
    transform: translate(-1px, 8px);
    border-bottom-right-radius: 8px;
    margin-right: auto;
}

.button-top-right-indicator {
    transform: translate(1px, 8px);
    border-bottom-left-radius: 8px;
    margin-left: auto;
}

.button-bottom-left-indicator {
    transform: translate(-1px, 1px);
    border-top-right-radius: 8px;
    margin-right: auto;
}

.button-bottom-right-indicator {
    transform: translate(1px, 1px);
    border-top-left-radius: 8px;
    margin-left: auto;
}

.button-top-left-indicator:has(img),
.button-top-right-indicator:has(img),
.button-bottom-left-indicator:has(img),
.button-bottom-right-indicator:has(img) {
    padding: 1px 2px;
    margin: 0;
}

.button-top-left-indicator img,
.button-top-right-indicator img,
.button-bottom-left-indicator img,
.button-bottom-right-indicator img {
    filter: brightness(0) invert(1);
    width: 16px;
}



.progress-bar {
    width: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-button-section>.button {
    flex-basis: calc(calc(100% / 2) - 2px);
}



.job-assignment * {
    color: white;
}

.job-assignment .button-content {
    padding: 0 !important;
    aspect-ratio: 1;
}

.job-assignment .button,
.job-spacer {
    min-width: 36px;
}

.job-amount {
    min-width: 72px;
}

.job-name,
.job-amount {
    font-size: 24px;
    text-shadow: var(--textshadow-black);
}



.research * {
    color: white;
}



#infinity-container {
    overflow: hidden;
}

#infinity-content {
    width: 3000px;
    height: 3000px;
    display: grid;
    place-items: center;
    background:
        #080808 url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/adf63458-dead-490d-9dc8-fc7ab7b8b634/dd591xq-0121b7dd-baeb-4055-8e1e-1fc4a1895657.png/v1/fit/w_668,h_572,q_70,strp/tileable_hexagon_pattern___free_by_savoretti_dd591xq-375w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTcyIiwicGF0aCI6Ii9mL2FkZjYzNDU4LWRlYWQtNDkwZC05ZGM4LWZjN2FiN2I4YjYzNC9kZDU5MXhxLTAxMjFiN2RkLWJhZWItNDA1NS04ZTFlLTFmYzRhMTg5NTY1Ny5wbmciLCJ3aWR0aCI6Ijw9NjY4In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.INmQfuTGL7CUR1o_t70TUUB04P5JbAfwjLUd0PM1VQA");
    background-repeat: repeat;
    background-size: auto 512px;
    background-blend-mode: soft-light;
    animation: scrolling-infinity 30s infinite linear;
}

@keyframes scrolling-infinity {
    from {
        background-position: 0 0
    }

    to {
        background-position: calc(512px * 1.167) 512px;
    }
}

.prestige-wrapper {
    padding: 64px;
    border: 2px dashed white;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    filter: var(--dropshadow-white-weak);
    transition: background-color 0.2s ease;
}

.prestige-branch {
    background-color: rgba(255, 255, 255, 0.1);
    border: 4px double white;
    padding: 64px;
    margin: 16px;
    gap: 16px;
    border-radius: 64px;
    height: fit-content;
    width: fit-content;
}

.prestige-section {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 16px;
    border: 2px solid white;
    border-radius: 32px;
    margin: auto;
    height: fit-content;
    width: fit-content;
}

.prestige-section .button-prestige {
    margin: auto;
}

.prestige-branch.white {
    filter: var(--dropshadow-white-weak);
    margin-top: auto;
    margin-left: auto;
}

.prestige-branch.red {
    filter: var(--dropshadow-red-weak);
    margin-bottom: auto;
    margin-left: auto;
}

.prestige-branch.green {
    filter: var(--dropshadow-green-weak);
    margin-top: auto;
    margin-right: auto;
}

.prestige-branch.blue {
    filter: var(--dropshadow-blue-weak);
    margin-bottom: auto;
    margin-right: auto;
}

.prestige-wrapper:hover,
.prestige-wrapper .prestige-branch:hover,
.prestige-wrapper .prestige-section:hover {
    background-color: rgba(255, 255, 255, 0.11);
    transition: background-color 0.2s ease;
}

.prestige-section.prestige-wrap-1 {
    max-width: calc(32px + calc(var(--prestige-button-size) * 1));
}

.prestige-section.prestige-wrap-2 {
    max-width: calc(32px + calc(var(--prestige-button-size) * 2));
}

.prestige-section.prestige-wrap-3 {
    max-width: calc(32px + calc(var(--prestige-button-size) * 3));
}

.prestige-section.prestige-wrap-4 {
    max-width: calc(32px + calc(var(--prestige-button-size) * 4));
}

.prestige-section.prestige-wrap-5 {
    max-width: calc(32px + calc(var(--prestige-button-size) * 5));
}

.prestige-section.prestige-wrap-6 {
    max-width: calc(32px + calc(var(--prestige-button-size) * 6));
}



@media screen and (height >=768px) {
    .main-center .button-content {
        padding: 4px 8px;
    }

    .main-center .button-content * {
        font-size: 26px;
    }

    .resource .resource-icon img {
        width: 36px;
    }

    .resource .resource-name,
    .resource .resource-amount {
        font-size: 18px;
    }
}



@media screen and (width >=1536px) {
    :root {
        --left-sidebar-width: 320px;
        --right-sidebar-width: 320px;
    }

    .main-button-section>.button {
        flex-basis: calc(calc(100% / 3) - 3px);
    }

    .main-jobs-section {
        width: 66.5% !important;
    }
}



@media screen and (width >=1024px) and (width < 1536px) {

    .main-button-section>.button {
        flex-basis: calc(calc(100% / 2) - 2px);
    }
}



@media screen and (width >=1024px) {

    /* Default Behavior for Sidebars */
    .main-left,
    .main-right {
        display: flex;
        transition: left 0.2s ease-in;
        transition: right 0.2s ease-in;
    }

    .top-menu-left-button,
    .top-menu-right-button {
        display: none;
    }
}



@media screen and (width < 1024px) {
    /* Change Right Tab and make it a sidebar instead */

    .main-right {
        z-index: 200;
        transition: right 0.2s ease-in;

        position: absolute;
        width: var(--right-sidebar-width);
        top: 32px;
        bottom: 32px;
        right: calc(var(--right-sidebar-width) * -1);
    }

    .main-right.visible {
        right: 0;
    }

    .main-grid:not(#prestige-grid) .main-center {
        grid-area: 2 / 2 / 3 / 4 !important;
    }

    .top-menu-left-button {
        display: none;
    }

    .top-menu-right-button {
        display: flex;
    }
}



@media screen and (width < 768px) {
    /* Change Left Tab and make it a sidebar instead */

    .main-left {
        z-index: 200;
        transition: left 0.2s ease-in;

        position: absolute;
        width: var(--left-sidebar-width);
        top: 32px;
        bottom: 32px;
        left: calc(var(--left-sidebar-width) * -1);
    }

    .main-left.visible {
        left: 0;
    }

    .main-grid:not(#prestige-grid) .main-center {
        grid-area: 2 / 1 / 3 / 4 !important;
    }

    .top-menu-left-button {
        display: flex;
    }
}